<div class="container mt-4">
  <h3>{{comercio.nombre}}</h3>

  <div class="row">
    <div class="col-md-8">
      {{#each categorias}}
      <h4>{{this.nombre}}</h4>
      <div class="row">
        {{#each this.productos}}
        <div class="col-md-6">
          <div class="card mb-3">
            <img src="{{this.imagen}}" class="card-img-top">
            <div class="card-body">
              <h5>{{this.nombre}}</h5>
              <p>{{this.descripcion}}</p>
              <p><strong>${{this.precio}}</strong></p>
              {{#if this.agregado}}
                <button class="btn btn-secondary" disabled>Agregado</button>
              {{else}}
                <form method="POST" action="/cliente/pedido/agregar/{{this.id}}">
                  <button class="btn btn-success">Agregar</button>
                </form>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>

    <div class="col-md-4">
      <h4>Mi Pedido</h4>
      {{#if pedido.length}}
      <ul class="list-group mb-3">
        {{#each pedido}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{this.nombre}}
          <form method="POST" action="/cliente/pedido/eliminar/{{this.id}}">
            <button class="btn btn-sm btn-danger">Quitar</button>
          </form>
        </li>
        {{/each}}
      </ul>
      <p>Subtotal: <strong>${{subtotal}}</strong></p>
      <a href="/cliente/pedido/continuar" class="btn btn-primary">Continuar</a>
      {{else}}
      <p>No hay productos en el carrito.</p>
      {{/if}}
    </div>
  </div>
</div>
