<div class="container mt-4">
  <h2>Bienvenido, {{usuario.nombre}}</h2>
  <div class="row mt-4">
    {{#each tiposComercios}}
    <div class="col-md-3 text-center">
      <a href="/cliente/comercios/{{this.id}}">
        <img src="{{this.icono}}" alt="{{this.nombre}}" width="64" height="64" />
        <p>{{this.nombre}}</p>
      </a>
    </div>
    {{/each}}
  </div>
</div>
