<div class="container mt-4">
  <h3>Mis Pedidos</h3>
  <div class="list-group">
    {{#each pedidos}}
    <a href="/cliente/pedido/{{this.id}}" class="list-group-item list-group-item-action">
      {{this.fecha}} - {{this.comercio}} - {{this.estado}} - ${{this.total}}
    </a>
    {{/each}}
  </div>
</div>
